<div *ngIf="story">
  <div class="form-group mb-3">
    <label for="title">Title:</label>
    <input
      class="form-control"
      id="title"
      [(ngModel)]="story.title"
      placeholder="Story Title"
    />
  </div>

  <div class="form-group mb-3">
    <label for="description">Description:</label>
    <input
      class="form-control"
      id="description"
      [(ngModel)]="story.description"
      placeholder="Story Description"
    />
  </div>

  <div class="form-group mb-3">
    <label for="status">Status:</label>
    <input
      id="status"
      [(ngModel)]="story.stat"
      placeholder="Story Status"
      class="form-control"
    />
  </div>

  <div class="form-group mb-3">
    <label for="time">Estimated Time:</label>
    <input
      id="time"
      [(ngModel)]="story.time"
      placeholder="Story Estimated Time"
      class="form-control"
      type="number"
    />
  </div>

  <div class="form-group">
    <label for="developer">Assign Developer:</label>
    <select
      class="form-select"
      id="developer"
      [(ngModel)]="story.developer_name"
    >
      <option *ngFor="let developer of developers">
        {{ developer.user_name }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="project">Assign Project:</label>
    <select class="form-select" id="project" [(ngModel)]="story.project_name">
      <option *ngFor="let project of projects">
        {{ project.title }}
      </option>
    </select>
  </div>

  <button (click)="save()" class="btn btn-primary">Update Data</button>
</div>
