<h2>Edit Project</h2>
<div *ngIf="project">
  <div class="form-group mb-3">
    <label for="title">Title:</label>
    <input
      class="form-control"
      id="title"
      [(ngModel)]="project.title"
      placeholder="Project Title"
    />
  </div>

  <div class="form-group mb-3">
    <label for="description">Description:</label>
    <input
      class="form-control"
      id="description"
      [(ngModel)]="project.description"
      placeholder="Project Description"
    />
  </div>

  <div class="form-group">
    <label for="team"> Assign Team:</label>
    <select
      name="project"
      id="project"
      class="form-select"
      [(ngModel)]="project.team_name"
    >
      <option *ngFor="let team of teams">{{ team.name }}</option>
    </select>
  </div>

  <button (click)="save()" class="btn btn-primary">Update Data</button>
</div>
