<h1>Register New Developer</h1>
<div>
  <div class="form-group mb-3">
    <label for="username">Username:</label>
    <input
      class="form-control"
      id="name"
      placeholder="Username"
      type="text"
      #name
    />
  </div>

  <div class="form-group mb-3">
    <label for="name">Password:</label>
    <input
      class="form-control"
      id="password"
      placeholder="Password"
      type="password"
      #password
    />
  </div>

  <div class="form-group">
    <label for="team">Assign Team:</label>
    <select class="form-select" id="team" #teamName>
      <option *ngFor="let team of teams">
        {{ team.name }}
      </option>
    </select>
  </div>

  <button
    (click)="registerDeveloper(name.value, password.value, teamName.value)"
    class="btn btn-primary"
  >
    Add Developer
  </button>
</div>
