<h2>Stories</h2>
<ul class="stories list-group list-group-flush">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let story of stories">
      <tr>
        <td>
          <a routerLink="/story/{{ story.id }}">{{ story.id }}</a>
        </td>
        <td>{{ story.title }}</td>
        <td>{{ story.category_id }}</td>
        <td>
          <button
            class="delete btn"
            title="delete user"
            (click)="delete(story)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <li *ngFor="let story of stories" class="list-group-item"> -->
  <!--   {{ story.title }} -->
  <!--   <!-1- <a routerLink="/detail/{{ story.id }}"> -1-> -->
  <!--   <!-1-   {{ story.title }} -1-> -->
  <!--   <!-1- </a> -1-> -->
  <!--   <!-1- <button class="delete btn" title="delete user" (click)="delete(user)"> -1-> -->
  <!--   <!-1-   Delete -1-> -->
  <!--   <!-1- </button> -1-> -->
  <!-- </li> -->
</ul>
